/* HEADER */
.pure-menu {
  background-color: black;
}

/* Logo */
.head-logo {
  height: 45px;
}

/* Logo on Hover*/
.pure-menu-heading:hover,
.pure-menu-heading:focus {
  background-color: black;
  opacity: 0.8;
}

/* Page Links */
.pure-menu a {
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  padding: 0.15em 0;
  margin: 0.15em 0.8em;
}

.pure-menu-item a {
  margin-left: 1.3em;
}

/* Page Links on Hover */
.pure-menu-list a:hover,
.pure-menu-list a:focus {
  color: lightgrey;
  background-color: black;
  text-decoration: underline;
}

/* HOME PAGE */
body {
  overflow: hidden;
}

.home-background {
  height: 95vh;
  background: url(/static/images/swolify.png);
  background-size: cover;
  background-position: center;
  text-align: center;
}

.home-content {
  color: #38b6ff;
  font-size: 125%;
  -webkit-text-stroke: 0.05em black;
  margin-top: 13em;
  margin-bottom: 2em;
}

/* Get Started Button */
.home-btn {
  color: black;
  font-weight: bold;
  background-color: #38b6ff;
  font-size: 125%;
  border: 0.1em solid black;
  border-radius: 0.75em;
}

/* CREATE PAGE */
.create-main {
  padding: 1em;
}

.create-inner h1 {
  text-align: center;
}

/* Center Inputs */
.pure-form-aligned {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Center Create Button */
.form-btn {
  text-align: center;
}

/* Select Inputs */
.selector:hover,
.selector:focus {
  cursor: pointer;
  background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
}

/* Slider Input */
.time-slider {
  -webkit-appearance: none;
  width: 15em;
  height: 1em;
  border-radius: 1em;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.time-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.25em;
  height: 1em;
  border: 0.1em solid black;
  border-radius: 1em;
  background: #38b6ff;
  cursor: pointer;
}

.time-slider::-webkit-slider-thumb:hover,
.time-slider::-webkit-slider-thumb:focus {
  background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
}

.time-slider::-moz-range-thumb {
  width: 1.25em;
  height: 1em;
  border: 0.1em solid black;
  border-radius: 1em;
  background: #04AA6D;
  cursor: pointer;
}

.time-slider::-moz-range-thumb:hover,
.time-slider::-moz-range-thumb:focus {
  background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
}

/* Create Button */
.create-btn {
  color: black;
  font-weight: bold;
  background-color: #38b6ff;
  border: 0.1em solid black;
  border-radius: 0.75em;
}

/* Table Styling */
table.dataframe {
  margin: 1em auto;
  width: 40%;
  border-collapse: collapse;
}

.dataframe tbody {
  display: block;
  overflow: auto;
  height: 250px;
}

.dataframe thead {
  background: #282828;
  color: white;
}

.dataframe thead tr{
  display: block;
}

.dataframe th,
.dataframe td {
  padding: 5px;
  text-align: left;
  width: 12em;
}

/* Download Button */
.share-btn {
  text-align: center;
}

/* FOOTER */
.footer {
  display: table;
  background-color: black;
  color: white;
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
}

.left-foot,
.right-foot,
.mid-foot {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
    
}

.mid-foot a {
  display: inline-block;
  color: white;
  padding-right: 0.35em;
  padding-left: 0.35em;
}

.mid-foot a:hover {
  color: lightgrey;
  background-color: black;  
}

.fa-heart {
  color: red;
}

.fa-hand-fist {
  color: tan;
}

.fa-dumbbell {
  color: silver;
}

.copyright {
  font-size: 0.75em; 
}

.social-icons {
  margin-bottom: -0.3125em;
}

@media screen and (max-width:700px) {
  .footer {
    font-size: 0.75em;
  }

  .home-content {
    font-size: 0.7em;
  }

  .pure-menu-item a {
    padding-left: 0;
  }

  .create-main {
    padding-top: 0.5em;
  }
  
  table.dataframe {
    margin: 0.5em auto;
  }
  
  .pure-form-message-inline {
    display: inline-block;
  }
  
  .create-inner h1 {
    font-size: 1.7em;
    margin-top: 0;
    margin-bottom: 0;
  }

}

